.center{
    justify-content: center;
}
.img{
    width:900px; 
    height: 425px;
}

.papel{
    background:linear-gradient(rgba(237, 213, 245, 0.5),transparent) !important;
    background-color: rgb(50, 4, 100) !important;
 }
.tipofontsb {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    color: rgb(202, 202, 202) !important;
}
.imagemsobre{
    background-image: url(img/outerspace-60.webp);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.fontesobre{
    color: rgb(212, 200, 212) !important;
    font-weight: 900 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: rgb(18, 19, 19); text-shadow: rgb(138, 90, 164) 0.1em 0.1em 0.3em !important;
 
 }
 .fonttextosobre{
    color: white;
    
 }