.center{
    justify-content: center;
}
.img{
    width:900px; 
    height: 425px;
}

.papel{
    background:linear-gradient(rgba(237, 213, 245, 0.5),transparent) !important;
    background-color: rgb(50, 4, 100) !important;
 }

 .fontbcsb {
    color: white
}

.tipofontsb {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}