.fontusuarios{
    color: rgb(253, 251, 253) !important;
    font-weight: 900 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: rgb(18, 19, 19); text-shadow: rgb(236, 165, 230) 0.1em 0.1em 0.3em !important;
 
 }
 .imgusuarios{
    background-image: url(img/outerspace-60.webp);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.centrousuarios {
    justify-content: center;
}

.fundolista {
    background:linear-gradient(rgb(108, 71, 133),transparent)!important;
    background-color: rgb(121, 73, 73) !important;
    padding-top: 1px !important;
}

.papelusuarios{
    background:radial-gradient(rgba(158, 157, 157, 0.5),transparent) !important;
    background-color: rgb(45, 2, 57) !important;
    width: 400px !important;
    min-height: 100px !important;
    padding: 1px !important;
}
.fonttextousuarios{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(176, 174, 176);
    font-size: medium;
}
