.topo{
    margin-top: 40px;
}

.botaopostagem{
    background:linear-gradient(rgb(185, 74, 205),transparent) !important;
    background-color: rgb(116, 239, 239) !important;
}

.postcad{
    background-color: rgb(160, 159, 162) !important;
}

.fundopost{
    background:linear-gradient(rgb(185, 74, 205),transparent) !important;
    background-color: rgb(116, 239, 239) !important;
    width: 100vh;
    min-height: 100vh;
 }

.formpost{
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
    padding: 100px;
    padding-left: 350px !important;
}

.fontpost {
    color: rgb(6, 6, 6) !important;
    font-weight: 900 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.corpostcaixa{
    background-color: white !important;
}

.fontpreta {
    color: black !important;
    
}
.fundocaixa{
    background-color: white;
}
.fundodafontecadastro{
    background-color: rgb(185, 74, 205),transparent !important;
}