.topo{
    margin-top: 40px;
}

.botaopostagem{
    background:linear-gradient(rgb(185, 74, 205),transparent) !important;
    background-color: rgb(116, 239, 239) !important;
}

.postcad{
    background-color: rgb(160, 159, 162) !important;
}
