.text-decorator-none{
    text-decoration: none;
}

.botao{
    background-color: rgb(226, 57, 226) !important;
}
.fundocaixatema{
    background:linear-gradient(rgba(52, 1, 69, 0.5),transparent) !important;
    background-color: rgb(241, 230, 240) !important;
 }
 .papeltemas{
    background:radial-gradient(rgba(239, 236, 239, 0.5),transparent) !important;
    background-color: rgb(140, 79, 155) !important;
}