.textos {
    color: white;
}

.box1 {
    background-color: black;
    height: 80px;
}

.box2 {
    background-color: black;
    height: 25px;
}

.redes {
    font-size: 60;
    color: white
}

.textos {
    color: white;
}