.topo{
    margin-top: 20px;
}

.fundotema{
    background:linear-gradient(rgba(248, 9, 156, 0.5),transparent) !important;
    background-color: rgb(220, 194, 219) !important;
 }

 .botao{
    background-color: rgb(114, 75, 114) !important;
}
.margintop{
    margin-top: 100% !important;
}