.topo{
    margin-top: 20px;
}

.fundotema{
    background:linear-gradient(rgb(185, 74, 205),transparent) !important;
    background-color: rgb(116, 239, 239) !important;
 }

 .botaocadtema{
    background-color: rgb(208, 65, 134) !important;
    border-bottom: 5px !important;
    border-color: rgb(115, 85, 115) !important;
}
.margintop{
    margin-top: 100% !important;
    
}
.formcadastro{
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 100px;
    padding-left: 350px !important;
}

.fontecadtema{
    color: rgb(227, 220, 230) !important;
    font-weight: 900 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: rgb(233, 243, 243); text-shadow: rgb(191, 0, 255) 0.1em 0.1em 0.2em !important;

}
.cortemacaixa{
    background-color: white !important;
}

