.caixa{
    background-color: rgb(245, 242, 245);
}

.fontes{
   color: rgb(227, 220, 230) !important;
   font-weight: 900 !important;
   font-family: Verdana, Geneva, Tahoma, sans-serif !important;
   color: rgb(18, 19, 19); text-shadow: rgb(191, 0, 255) 0.1em 0.1em 0.2em !important;

}

.botao{
    background-color: rgb(226, 57, 226) !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.fundo{
    background:linear-gradient(rgb(0, 0, 0),transparent) !important;
    background-color: rgb(0, 0, 0) !important;

}

.imagemhome{

    background-image: url(img/outerspace-60.webp);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 150vh;
    background-size: cover;
    background-position: center;
   
}

.img4{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.imagemcentrada {
    display: block;
    margin-left: auto;
    margin-right: auto 
}