.imagem2{
    background-image: url(img/galaxy.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold;
}

.btnCancelar{
    margin-right: 10px !important;
}
.rx{
    background-color: rgb(226, 57, 226) !important;
}
.papel{
    background:linear-gradient(rgba(237, 213, 245, 0.5),transparent) !important;
    background-color: rgb(50, 4, 100) !important;

}
.caixacadastro{
    background-color: rgb(7, 230, 156) !important;
    border-bottom: 100vh !important;
    color: rgb(0, 255, 217) !important;
}
.rosa{
    color: rgb(219, 51, 213) !important;
}
.bc{
    color: white !important;
}
.fontcadastro{
    color: rgb(227, 220, 230) !important;
    font-weight: 900 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: rgb(18, 19, 19); text-shadow: rgb(191, 0, 255) 0.1em 0.1em 0.2em !important;
 
 }

  .cor1{
    background-color: blueviolet !important;
  }
  .cor2{
    background-color: gray !important;
  }
  .imagem3{
    transition: all 0.5s;
    cursor: pointer;
}

.imagem3:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

  
  



